nombre=Ash
simbolo=#
hojaDeViaje=[PuebloPaleta,CiudadVerde,CiudadPlateada,CiudadAzafran,CiudadCeleste,CiudadFucsia,IslaCanela,PuebloLavanda]
obj[PuebloPaleta]=[P,B,O]
obj[CiudadVerde]=[C,Z,C]
obj[CiudadPlateada]=[P,M,P,M,S]
obj[CiudadAzafran]=[C,O,P]
obj[CiudadCeleste]=[B]
obj[CiudadFucsia]=[S,P,O,B]
obj[IslaCanela]=[B,C,O,P,C,B,P,C,B,S,B]
obj[PuebloLavanda]=[C,Z,C]
vidas=1
reintentos=0